/** Universal **/

body {
  font-family: 'Myriad Pro', sans-serif;
  color: #4e4e4f;
}

/** Header **/

header {
  height: 64px;
}

.title {
  display: inline;
  position: absolute;
  margin: 13px 0 0 24px;
}

.logo {
  vertical-align: middle;
  margin-bottom: 8px;
}

.navigation h2 {
  display: inline;
}

.navigation span {
  font-weight: lighter;
}

.navigation nav {
  float: right;
}

.navigation ul {
  list-style-type: none;
}

.navigation li {
  display: inline;
  font-size: 18px;
  padding-right: 16px;
}

.navigation a {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 451px) {
  .mobile {
    display: none;
  }
}

/** Main **/
.main {
  background-color: #a1a2a3;
}

.banner {
  padding: 32px 24px;
  width: 60%;
  height: 50%;
  display: inline;
}

.learn {
  display: inline-block;
  position: absolute;
  padding-left: 24px;
  color: #4e4e4f;
  width: 40%;
}

.main h1 {
  font-weight: 700;
}

.btn-start {
  background-color: #4e4e4f;
  border: none;
  padding: 8px 75px;
  margin: 0 0 0 125px;
  color: white;
}

/** Info section **/

.info-banner {
  width: 60%;
  height: 50%;
  padding: 32px 24px;
}
